option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: loanmanagement.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
    
commands:
  10_install_node:
    command: "yum -y install python3-devel mysql-devel"
    ignoreErrors: false
  01-libwebp:
    command: "yum --enablerepo=epel --disablerepo=amzn-main -y install libwebp"
  02-tesseract:
    command: "yum --enablerepo=epel -y install tesseract"
